/* h1{
    color: blue;
    text-align: center;
}
 */
/* make black and blue schema */
body {
    background-color: black;
    color: blue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
